[z_tilt]
speed: 200
# The order of these "z_positions" should match your Z, Z1 and Z2 stepper driver order. 
z_positions:            # Position of the POS8 rod end ball center 
    -22.940,-10.300     # Front Left Z actuator
    253.268,517.910     # Rear Center Z actuator
    529.476,-10.300     # Front Right Z actuator

# It is recommended to use 3 or 4 points maximum to define the bed attitude.  
# Either place a point close to each corner, or close to each lift points.
points: #Nozzle Position, Bed will be probed at the location whe the probe is when noxxle is on this point.
    15,15
    15,410
    500,410
    500,15


[gcode_arcs]
resolution: 0.1  

#[gcode_macro M73]
#gcode:
  # Ignore the M73 command


[bed_mesh]
zero_reference_position: 250, 250    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 51, 51
#    start point of bed mesh [X, Y]
mesh_max: 460, 390
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic
